# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/

# docker volumes (se montados localmente)
.data/
postgres-data/
redis-data/

# cópias temporárias do .env (nunca versionar)
env.txt
*.env.run
